.banner {
	height: 28vw;
	background: url("http://i666.photobucket.com/albums/vv28/jordanebranch/9df1f32c-b26e-4b56-9807-13c07eaffab1_zpsqgnpksmt.jpg") no-repeat;
background-size: 100% auto;
  background-attachment: fixed;
  margin-bottom: 2vw;
}

.banner2 {
	height: 30vw;
	background: url("http://i666.photobucket.com/albums/vv28/jordanebranch/Sandy%20Hook_zpszwkvkrp2.jpg") no-repeat;
background-size: 100% auto;
  background-attachment: fixed;
  margin-top: 6vw;
  margin-bottom: 6vw;
}

.banner3 {
	height: 30vw;
	background: url("http://i666.photobucket.com/albums/vv28/jordanebranch/flags_zpspeca532o.jpg") no-repeat;
background-size: 100% auto;
  background-attachment: fixed;
  margin-top: 6vw;
  margin-bottom: 6vw;
}

.banner4 {
	height: 30vw;
	background: url("http://i666.photobucket.com/albums/vv28/jordanebranch/Bernadino%20shooting_zpsak1flc5i.jpg") no-repeat;
background-size: 100% auto;
  background-attachment: fixed;
  margin-top: 6vw;
  margin-bottom: 6vw;
}

p {
	font-family: 'Lato', sans-serif;
	font-size: 1.1rem;
	margin-bottom: 0;
	line-height: 1.5rem;
}

.byline{
	text-align: center;
	font-size: 1.3rem;
	margin-top: 0;
	margin-bottom: 2rem;
}

.flex {
    display: flex;
  text-wrap: none;
  padding: 0;
  margin-bottom: 0vw;
  float: left;
  width: 50%;

}

iframe {
	height: 420px;
	width: 970px;
	 margin-top: 2vw;
}

.infogram iframe {
	
height: 390px;
	width: 950px;
	 margin-top: 3vw;
	  margin-bottom: 3vw;
}

.timeline iframe{
	height: 650px;
	width: 950px;
	margin-bottom: 3vw;
}

#content {
	margin: 0 auto;
	width: 950px;
}

h1 {
	font-family: 'Lato' ,serif;
	font-size: 4rem;
	text-align: center;
	margin-bottom: 0;
	margin-top: 1.5vw;
}

h2{
	font-family: 'Lato' ,serif;
	font-size: 2.5rem;
	text-align: center;
	margin-top: 0;
}


h3 {
	font-family: 'Lato', sans-serif;
	font-size: 0.9rem;
	margin-bottom: 0;
	text-align: center;
}

h5{
	font-family: 'Bold Lato', sans-serif;
	font-size: 1.1rem;
	margin-bottom: 2rem;
	text-align: center;
	margin-top: 0;
	color: #333333;
}

h6 {
	font-family: 'Lato', sans-serif;
	font-size: 1.1rem;
	margin-bottom: 2rem;
	text-align: center;
	color: #635F5F;
	margin-top: 0;
}

blockquote {
	text-alignment: right;
	font-family: 'Lato', sans-serif;
	font-size: 2rem;
	background-color: #A8A8A8;
	color: white;
	margin: 3rem;
	padding: 1rem;
	text-align: center;
	border-radius: 25px;
	float: left;
	clear: both;
}

.blockquote2{
	text-alignment: right;
	font-family: 'Lato', sans-serif;
	font-size: 2rem;
	border: solid;
	border-width: medium;
	border-color: grey;
	margin: 3rem;
	margin-right: 5rem;
	margin-left: 5rem;
	padding: 1rem;
	text-align: center;
	border-radius: 25px;
	float: left;
	clear: both;
	line-height: 2.6rem;
}

.voteNumber{
	font-family: 'Bold Lato', sans-serif;
}

.flexMargin{
	margin: 2rem;
}
/*Mobile - This affects screens that are up to 500px wide*/
@media (max-width: 900px) {
	.banner{
		width: 100%;
	}
	#content {
		width: 100%;
	}
	iframe {
		width: 100%;
	}
	.timeline iframe{
		width: 100%;
	}
	.infogram iframe{
		width: 100%;
	}
	.flex{
		width: 100%
	}
	.banner{
		display: none;
	}
	.banner2{
		display: none;
	}
}

